@main("Todo list") {
        <div id="todo-wrapper" class="container">
            <div class="row">
                <h1>Todo List</h1>
            </div>
            <div class="row">
                <table class="table table-bordered table-striped">
                    <tbody data-bind="foreach: todos">
                        <tr>
                            <td>
                                <div class="row-fluid">
                                    <div class="pull-left" style="margin-right: 10px;">
                                        <input type="checkbox" data-bind="checked: completed">
                                    </div>
                                    <span data-bind="text: label, css: {done: completed}"></span>
                                    <div class="pull-right">
                                        <i class="icon-remove" data-bind="click: $parent.removeTodo"></i>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="row">
                <form class="form-inline">
                    <input type="text" data-bind="value: newTodo">
                    <button class="btn btn-primary" data-bind="click: createTodo">Add Todo</button>
                </form>
            </div>

            <script src="@routes.Assets.at("javascripts/controllers.js")" type="text/javascript"></script>
        </div>
}
